<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Room shambles</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/static/css/cssAcceuil.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <video autoplay muted loop>
            <source src="/static/video/slider_home.mp4" type="video/mp4">
        </video>
        <div id="overlay"></div>
        <div id="overlay1">
            <h1>We <span>connect</span> the world</h1>
            <p>Room</p>
        </div>
        <div id="bar_nav">
            <img src=/static/images/logo_white.png" alt="">
            <nav>
                <ul>
                    <li><a href="/register">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav>
            <div class="burger">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>
    </header>
    <section id="services">
        <h2>Our services</h2>
        <div class="carroussel">
            <div class="cards">
                <div class="card">
                    <img src="/static/images/photo1.jpg" alt="" class="card_img photo1">
                </div>
                <div class="card">
                    <img src="/static/images/photo2.jpg" alt="" class="card_img">
                </div>
                <div class="card">
                    <img src="/static/images/photo3.jpg" alt="" class="card_img photo2">
                </div>
            </div>
        </div>
        <div class="services_text">
            <p>
                New communication app which allows you to make <b>free voice</b> calls and
                send <b>free messages</b> whenever and wherever you are, <b>24 hours</b> a day!            </p>
            <div class="service_btn">
                <button> <a href="./register.html">Discover</a> </button>
            </div>
        </div>
    </section>
    <section class="third">
        <h2>
            STAY CLOSE AND SHARE MOMENTS
        </h2>
        <figure>
            <img src="/static/images/photo4.png" alt="">
        </figure>
        <p>Low-latency voice and video feels like you’re in<b> the same room</b>. Wave hello over video, watch friends <b>stream</b> their games, or gather up and have a drawing session with screen share.</p>
    </section>
    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">&copy; 2024</a></li>
        </ul>
        <div class="icon">
            <img src="/static/images/logo_white.png" alt="">
        </div>
    </footer>
</body>
</html>