<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profil</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/profile.css">

</head>
<body>
    <script>


    // Set Item
    localStorage.setItem("lastname", "Smith");
    // Retrieve
    document.getElementById("demo").innerHTML = localStorage.getItem("lastname");
    </script>
    <h1>Bienvenue dans l'équipage du <span>heart</span></h1>
    <img src="/static/images/embleme.jpg" alt="">
    <div>
        <p>vous pouvez acceder au salon de l'équipage <a href="/message">ici</a></p>
    </div>
    <img src="/static/images/trafal.jpg" alt="" class="trafal">
</body>
</html>