<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style_log_reg.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class ="logo">
            <img src="/static/images/logo.png" alt="main_logo">
        </div>
    </header>

    <div class="wrapper">
        <form action="/registerForm" method="post">
            <h1>Register</h1>
            <div class="input-box-register">
                <input type="text" placeholder="Full name" name="full-name">
                <i class='bx bxs-id-card'></i>
            </div>
            <div class="input-box-register">
                <input type="email" placeholder="Email" name="email">
                <i class='bx bx-envelope' ></i>
            </div>
            <div class="input-box-register">
                <input type="text" placeholder="Username" name="Username">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box-register">
                <input type="password" placeholder="Password" name="password">
                <i class='bx bxs-lock'></i>
            </div>
            <div class="input-box-register">
                <input type="password" placeholder="Confirm password" name="Confirm-password">
                <i class='bx bxs-lock'></i>
            </div>
            <div class="button">
                <button type="submit" class="btn">Register</button>
            </div>           
            <div class="register-link">
                <p>Already have an account ? <a href="./login">Login</a></p>
            </div>
    </div>

    </form>
    </div>

</body>

</html>